{% extends 'layout.html' %}
{% block title %}Authorize OAuth Request Token{% endblock %}
{% block body %}
  <p>
    {{consumer['name']}} would like access to your resources. Enter your username below to
    authorize this access.
  </p>
  <form action="/oauth/request-tokens/authorize" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
    </div>
    <input type="hidden" name="oauth_token" value="{{request_token['token']}}" />
    <input type="submit" name="submit" value="Authorize" />
  </form>
{% endblock %}
