{% extends 'layout.html' %}
{% block title %}Request Token Authorized{% endblock %}
{% block body %}
  <p>
    You have authorized {{consumer['name']}} to access your resources.
  </p>
  <p>
    You should provide the following values as directed by their documentation:
  </p>
  <dl>
    <dt>Token</dt>
    <dd>{{request_token['token']}}</dd>
    <dt>Verifier</td>
    <dd>{{request_token['verifier']}}</dd>
  </dl>
{% endblock %}
