{% extends 'layout.html' %}
{% block title %}Request Integration{% endblock %}
{% block body %}
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <form action="/integrations" method="post">
    <input type="submit" name="submit" value="Request Integration" />
  </form>
{% endblock %}
