{% extends 'layout.html' %}
{% block title %}My Integration User Data{% endblock %}
{% block body %}
  <h1>About you</h1>
  <p>
    Id: {{ id }}<br>
    Username: {{ username }}
  </p>
{% endblock %}
